<div class="container">
  <div class="row">

    <div class="col-md-3 col-sm-4">
      <div class="text-center">
        <!-- onerror:不存在就default -->
        <%= image_tag @user.avatar, class: "img-responsive img-rounded", onerror: 'this.error=null;this.src="http://via.placeholder.com/350x350"' %>
      </div>
    </div>

    <div class="col-md-9 col-sm-8">
      <h1><%= @user.name %></h1>
      <p><strong><%= @user.email %></strong></p>
      <p><%= simple_format @user.intro %></p>
      <% if @user == current_user %>
        <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
