<%= render partial: "shared/tabs", locals: {tab: "最新動態"} %>

<div class="container">
  <div class="row">

    <div class="col-md-12">
      <h1>餐廳最新動態</h1>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">最新餐廳</h3>
        </div>
        <div class="panel-body">
          <% @recent_restaurants.each do |restaurant| %>
            <h4>
              <%= link_to restaurant.name, restaurant_path(restaurant) %>
              <small><%= restaurant.category.name %></small>
            </h4>
            <p><%= truncate(restaurant.description, length: 80) %></p>
            <hr>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">最新評論</h3>
        </div>
        <div class="panel-body">
          <% @recent_comments.each do |comment| %>
            <h4><%= link_to comment.restaurant.name, restaurant_path(comment.restaurant) %></h4>
            <p><%= truncate(comment.content, length: 80) %></p>
            <p>by <%= link_to comment.user.name, user_path(comment.user) %></p>
            <hr>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
