<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><%= @restaurant.name %></h1>
    </div>

    <div class="col-md-4">
      [<%= @restaurant.category.name %>]
      <%= image_tag @restaurant.image, class: "img-responsive center-block" %>
      <br>
      <div class="well">
        <ul class="list-unstyled">
          <li><strong>Opening Hour:</strong> <%= @restaurant.opening_hours %></li>
          <li><strong>Tel:</strong> <%= @restaurant.tel %></li>
          <li><strong>Address:</strong> <%= @restaurant.address %></li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <%= simple_format @restaurant.description %>
      <%= link_to "Dashboard", dashboard_restaurant_path(@restaurant), class: "btn btn-primary" %>
      <%= link_to "Favorite", favorite_restaurant_path(@restaurant), method: :post, data: { disable_with: "Please wait..." }, class: "btn btn-primary" %>
      <%= link_to "Unfavorite", unfavorite_restaurant_path(@restaurant), method: :post, data: { disable_with: "Please wait..." }, class: "btn btn-info" %>
    </div>

    <div class="clearfix"></div>

    <div class="form-group">
      <%= link_to "Back", :back, class: "btn btn-info" %>
    </div>

    <hr>

  </div>
</div>

<div class="container">
  <div class="row">

    <!-- 顯示與餐廳相關的評論 -->
    <% @restaurant.comments.each do |comment| %>
      <h4><%= comment.user.name %></h4>
      <p><strong><%= comment.user.email %></strong></p>
      <p><%= simple_format comment.content %></p>
      <p>
        <em><%= time_ago_in_words comment.created_at %> ago</em>
        <% if current_user.admin? %>
          <%= link_to "Delete",
                      restaurant_comment_path(@restaurant, comment),
                      #restaurant_comment_path(comment),
                      method: :delete,
                      data: {confirm:"Are you sure?"},
                      class: "btn btn-danger" %>
        <% end %>
      </p>
      <hr>
    <% end %>

    <!-- 新增評論的表單輸入框 -->
    <%= form_for [@restaurant, @comment] do |f| %>
      <div class="form-group">
        <%= f.text_area :content, placeholder: "請留言...", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit class: "btn btn-primary" %>
        <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
      </div>
    <% end %>

  </div>
</div>
